@use '../../styles/mixins.scss';

.container {
    @include mixins.card-layout;

    .controls {
        display: flex;
        gap: var(--spacing-2);
    }

    .source {
        align-items: center;
        display: flex;
        gap: var(--spacing-3);
    }

    .categories {
        > div {
            margin: var(--spacing-5) 0 0 0;

            ul {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: var(--spacing-2);
                list-style-type: none;
                margin: var(--spacing-2) 0 0 0;
                padding: 0;
            }
        }
    }

    .ingredients {
        ul {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-2);
            list-style-type: none;
            margin: var(--spacing-5) 0 0 0;
            padding: 0;

            li {
                align-items: flex-start;
                cursor: pointer;
                display: flex;
                gap: var(--spacing-1);

                label {
                    all: unset;

                    &.checked {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}
