@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;

.container {
    @include mixins.card-layout;

    padding: var.$spacing-5 0;

    h2 {
        font-family: spartan-bold, sans-serif;
        font-size: 1.25rem;
        padding: 0 var.$spacing-5;
    }

    .title-source-container {
        display: flex;
        flex-direction: column;
        gap: var.$spacing-2;
        padding: 0 var.$spacing-5;

        .source-container {
            align-items: center;
            display: flex;
            gap: var.$spacing-2;
        }

        .source-link {
            align-items: center;
            display: inline-flex;
            font-family: spartan-bold, sans-serif;
            gap: var.$spacing-1;

            &:hover {
                svg {
                    fill: var.$color-secondary-dark;
                }
            }

            &:active {
                color: var.$color-secondary-light;
            }

            svg {
                $size: 20px;

                fill: var.$color-secondary-main;
                height: $size;
                width: $size;
            }
        }

        .source-name {
            font-family: spartan-bold, sans-serif;
        }
    }

    .image-container {
        .image {
            background-color: var.$color-grey-500;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 150px;
            width: 100%;
        }

        hr {
            margin: 0 auto;
            width: calc(100% - (var.$spacing-5 * 2));
        }
    }

    .info-container {
        display: flex;
        flex-direction: column;
        gap: var.$spacing-5;
        padding: 0 var.$spacing-5;

        .source-time-yield-container {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            gap: var.$spacing-3;

            .row {
                align-items: flex-start;
                display: flex;
                gap: var.$spacing-2;

                .icon {
                    svg {
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }

                p {
                    font-family: spartan-bold, sans-serif;
                    margin: 5px 0 0;
                    vertical-align: top;

                    span {
                        font-family: spartan-regular, sans-serif;
                        font-size: 0.75rem;
                    }
                }
            }
        }

        .categories-container {
            > div {
                display: flex;
                flex-direction: column;
                gap: var.$spacing-5;

                p {
                    font-family: spartan-bold, sans-serif;
                    margin-bottom: var.$spacing-2;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var.$spacing-3;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    li {
                        background-color: var.$color-info-main;
                        border-radius: var.$border-radius-chip;
                        color: var.$color-info-contrast-text;
                        display: inline-block;
                        font-family: spartan-bold, sans-serif;
                        font-size: 0.75rem;
                        padding: var.$spacing-2 var.$spacing-3 var.$spacing-1;
                        // word-break: keep-all;
                        white-space: nowrap;
                    }
                }
            }
        }

        .ingredients-steps-notes-container {
            ol,
            ul {
                display: flex;
                flex-direction: column;
                gap: var.$spacing-3;
                padding: 0;

                li {
                    display: flex;
                    line-height: 1.25rem;
                    list-style-type: none;

                    label {
                        cursor: pointer;
                        font-family: spartan-regular, sans-serif;
                        padding: 0 0 0 var.$spacing-2;

                        &.checked {
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
}
