@use '../../styles/mixins.scss';

.container {
    @include mixins.break-word;

    display: inline-flex;

    span {
        @include mixins.label;
    }

    button {
        align-items: center;
        display: inline-flex;
        padding: 0;

        svg {
            --icon-size: 28px;

            fill: white;
            height: var(--icon-size);
            width: var(--icon-size);
        }
    }
}
