.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);

    .inline-time-inputs {
        --input-group-width: 92px;

        display: flex;

        > div:first-child {
            width: var(--input-group-width);

            label {
                width: 100%;
            }
        }

        > div:last-child {
            margin-left: -2px;
            width: var(--input-group-width);

            label {
                width: 100%;
            }
        }

        @media only screen and (max-width: 246px) {
            & {
                --input-group-width: 100%;

                flex-wrap: wrap;
                gap: var(--spacing-5);
            }
        }
    }

    .inline-serving-inputs {
        display: flex;

        > div:first-child {
            width: 91px;

            label {
                width: 100%;
            }
        }

        > div:last-child {
            flex-grow: 1;
            margin-left: -2px;
            width: auto;

            label {
                width: 100%;
            }
        }

        @media only screen and (max-width: 340px) {
            & {
                flex-wrap: wrap;
                gap: var(--spacing-5);

                > div:first-child {
                    width: 100%;
        
                    label {
                        width: 100%;
                    }
                }
            }
        }
    }

    .section-heading {
        align-items: center;
        display: flex;
        gap: var(--spacing-2);
        justify-content: space-between;

        div {
            align-items: center;
            display: flex;
            gap: var(--spacing-2);
            justify-content: center;
        }

        @media only screen and (max-width: 237px) {
            & {
                flex-wrap: wrap;
                gap: var(--spacing-5);
            }
        }
    }

    .inline-quantity-inputs {
        display: flex;

        > div:first-child {
            min-width: 68px;
            width: 68px;

            label {
                width: 100%;
            }
        }

        > div:last-child {
            margin-left: -2px;

            label {
                width: 100%;
            }
        }

        @media only screen and (max-width: 335px) {
            & {
                flex-wrap: wrap;
                gap: var(--spacing-5);

                > div:first-child,
                > div:last-child {
                    width: 100%;
                }
            }
        }
    }

    .checkbox {
        align-items: center;
        display: flex;
        gap: var(--spacing-2);
        justify-content: flex-start;
    }
}

.section-submit {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
}

.section-submit-alt {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
}
