@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;

.container {
    @include mixins.card-layout;

    --content-max-width: 280px;

    h2 {
        text-align: center;
    }

    .buttons-container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: var.$spacing-2;
        justify-content: space-between;
        margin: 0 auto;
        max-width: var(--content-max-width);
        width: 100%;

        button {
            flex-basis: 100%;
            max-width: 115px;
        }

        @media screen and (max-width: 317px) {
            & {
                justify-content: center;
            }
        }
    }

    form {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: var.$spacing-2;
        justify-content: space-between;
        margin: 0 auto;
        max-width: var(--content-max-width);
        width: 100%;

        @media screen and (max-width: 320px) {
            & {
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
