@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;

.container {
    @include mixins.card-layout;

    gap: var.$spacing-2;
    text-align: center;

    p {
        border-radius: var.$spacing-1;

        &:focus {
            @include mixins.focus-outline;
        }
    }
}
