@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;

.container {
    @include mixins.card-layout;

    h2 {
        text-align: center;
    }

    form {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: var.$spacing-5;
        justify-content: stretch;
        width: 100%;

        .input-group {
            display: flex;
            flex-direction: column;
            gap: var.$spacing-2;
            width: 100%;
        }

        details {
            width: 100%;

            .details-content {
                display: flex;
                flex-direction: column;
                gap: var.$spacing-5;
            }
        }

        .submit-group {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: var.$spacing-3;
            justify-content: space-between;
            width: 100%;
        }
    }
}
