@use '../../styles/mixins.scss';

.container {
    @include mixins.card-layout;

    form {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-5);

        details {
            cursor: not-allowed; /* REMOVE ME WHEN ENABLED */
            opacity: var(--opacity-disabled); /* REMOVE ME WHEN ENABLED */
            user-select: none; /* REMOVE ME WHEN ENABLED */
            width: 100%;

            summary {
                &:focus,
                &:focus-visible {
                    outline: none; /* REMOVE ME WHEN ENABLED */
                }
            }

            .advanced-options-content {
                padding: var(--spacing-5) 0 0 0;
            }
        }

        .submit-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
}
