@use '../../styles/mixins.scss';

.container {
    @include mixins.card;

    bottom: var(--spacing-5);
    left: var(--spacing-5);
    padding: 0;
    position: fixed;
    width: calc(100% - var(--spacing-5) - var(--spacing-5));
    z-index: var(--z-index-nav);

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding: 0;
            width: 100%;

            a {
                align-items: center;
                background-color: white;
                display: flex;
                flex-direction: column;
                font-size: 0.75rem;
                font-weight: 700;
                justify-content: center;
                padding: var(--spacing-2);
                text-decoration: none;

                &.active {
                    background-color: var(--color-grey-900);
                    color: white;

                    svg {
                        fill: white;
                    }
                }

                svg {
                    --icon-size: 24px;

                    height: var(--icon-size);
                    transition:
                        fill
                        var(--transition-duration)
                        var(--transition-timing-function)
                        var(--transition-delay);
                    width: var(--icon-size);
                }
            }
        }
    }
}

.hide-overflow {
    background-color: var(--page-background);
    bottom: 0;
    height: calc(var(--nav-height) + var(--spacing-5) - calc(var(--spacing-2) / 2));
    left: 0;
    position: fixed;
    width: 100%;
}
