@use '../../styles/mixins.scss';

.container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        @include mixins.break-word;
    }

    .input-container {
        display: flex;
        width: 100%;

        input,
        select {
            margin: calc(var(--border-width) * -1) 0 0;
            width: 100%;
        }

        button,
        input[type='submit'] {
            width: auto;
        }
    }
}
