@font-face {
    font-display: swap;
    font-family: spartan-regular;
    font-style: regular;
    font-weight: 400;
    src:
        url('/fonts/spartan-regular.woff2') format('woff2'),
        url('/fonts/spartan-regular.woff') format('woff'),
        url('/fonts/spartan-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: spartan-medium;
    font-style: medium;
    font-weight: 500;
    src:
        url('/fonts/spartan-medium.woff2') format('woff2'),
        url('/fonts/spartan-medium.woff') format('woff'),
        url('/fonts/spartan-medium.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: spartan-bold;
    font-style: bold;
    font-weight: 700;
    src:
        url('/fonts/spartan-bold.woff2') format('woff2'),
        url('/fonts/spartan-bold.woff') format('woff'),
        url('/fonts/spartan-bold.ttf') format('truetype');
}
