@use './mixins.scss';
@use './variables.scss' as var;

* {
    box-sizing: border-box;
}

// HTML =======================================================================
html {
    background-color: var.$color-grey-100;
    font-family: Spartan, sans-serif;
    font-size: 16px;
    font-weight: var.$font-weight-medium;
    margin: 0;
    padding: 0;

    body {
        margin: 0;
        padding: var.$spacing-5;
        text-align: center;

        // stylelint-disable-next-line selector-id-pattern
        #__next {
            display: flex;
            flex-direction: column;
            gap: var.$spacing-5;
            width: 100%;
        }
    }
}

// ELEMENTS ===================================================================
a {
    color: var.$color-secondary-main;
    font-weight: var.$font-weight-medium;
    text-decoration: none;

    &:hover {
        color: var.$color-secondary-dark;
    }

    &:active {
        color: var.$color-secondary-light;
    }
}

button,
input[type='submit'] {
    @include mixins.transition(background-color);

    background-color: var.$color-primary-main;
    border: none;
    border-radius: var.$spacing-1;
    color: white;
    cursor: pointer;
    font-family: Spartan, sans-serif;
    font-size: 1rem;
    font-weight: var.$font-weight-medium;
    line-height: 2rem;
    margin: 0;
    padding: var.$spacing-1 var.$spacing-5;

    &:hover:enabled {
        background-color: var.$color-primary-dark;
    }

    &:active:enabled {
        background-color: var.$color-primary-light;
    }

    &:disabled {
        opacity: var.$opacity-disabled;
    }

    &:focus {
        @include mixins.focus-outline;
    }

    &.text {
        background-color: transparent;
        color: var.$color-primary-main;
        font-weight: var.$font-weight-bold;
        line-height: normal;
        padding: 0;

        &:hover:enabled {
            background-color: transparent;
            color: var.$color-primary-dark;
        }

        &:active:enabled {
            background-color: transparent;
            color: var.$color-primary-light;
        }
    }
}

details {
    summary {
        border-radius: var.$border-radius;
        color: var.$color-primary-main;
        cursor: pointer;
        font-size: 1em;
        font-weight: var.$font-weight-bold;
        margin: 0;
        padding: 0;

        &:hover {
            color: var.$color-primary-dark;
        }

        &:active {
            color: var.$color-primary-light;
        }

        &:focus {
            @include mixins.focus-outline;
        }
    }
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
}

input[type='search'],
input[type='text'] {
    border: var.$spacing-1 solid var.$color-grey-500;
    border-radius: var.$border-radius;
    font-family: Spartan, sans-serif;
    font-size: 1em;
    font-weight: var.$font-weight-medium;
    margin: 0;
    padding: var.$spacing-2;
    width: 100%;

    &::placeholder {
        color: var.$color-grey-600;
        font-family: Spartan, sans-serif;
        font-weight: var.$font-weight-medium;
    }

    &:focus {
        @include mixins.focus-outline;
    }
}

label {
    font-size: 1em;
    font-weight: var.$font-weight-bold;
}

p,
span {
    font-size: 1em;
    font-weight: var.$font-weight-medium;
    margin: 0;
    padding: 0;
}
