@use './fonts.scss';
@use './mixins.scss';
@use './variables.scss' as var;

* {
    box-sizing: border-box;
}

// HTML =======================================================================
html {
    background-color: var.$color-grey-100;
    color: var.$color-grey-900;
    font-family: spartan-regular, sans-serif;
    font-size: 16px; // 12px = 0.75rem | 20px = 1.25rem | 24px = 1.5rem | 32px = 2rem
    margin: 0;
    padding: 0;

    body {
        margin: 0;
        padding: var.$spacing-5 var.$spacing-5 calc(var.$navbar-height + var.$spacing-5);
        text-align: center;

        // stylelint-disable-next-line selector-id-pattern
        #__next {
            display: flex;
            flex-direction: column;
            gap: var.$spacing-5;
            width: 100%;
        }
    }
}

// ELEMENTS ===================================================================
a {
    color: var.$color-secondary-main;
    text-decoration: none;

    &:hover {
        color: var.$color-secondary-dark;

        svg {
            fill: var.$color-secondary-dark;
        }
    }

    &:active {
        color: var.$color-secondary-light;

        svg {
            fill: var.$color-secondary-light;
        }
    }

    &:focus {
        @include mixins.focus-outline;

        border-radius: var.$border-radius;
    }

    svg {
        fill: var.$color-secondary-main;
        height: 1rem;
        margin-left: var.$spacing-1;
        vertical-align: top;
        width: 1rem;
    }
}

button,
input[type='submit'] {
    @include mixins.transition(background-color);

    appearance: none;
    background-color: var.$color-primary-main;
    border: none;
    border-radius: var.$border-radius;
    color: white;
    cursor: pointer;
    font-family: spartan-bold, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: var.$spacing-3 var.$spacing-5 var.$spacing-2;

    &:hover:enabled {
        background-color: var.$color-primary-dark;
    }

    &:active:enabled {
        background-color: var.$color-primary-light;
    }

    &:disabled {
        opacity: var.$opacity-disabled;
    }

    &:focus {
        @include mixins.focus-outline;
    }

    &.text {
        background-color: transparent;
        color: var.$color-primary-main;
        font-family: spartan-bold, sans-serif;
        line-height: normal;
        padding: 0;

        &:hover:enabled {
            background-color: transparent;
            color: var.$color-primary-dark;
        }

        &:active:enabled {
            background-color: transparent;
            color: var.$color-primary-light;
        }
    }
}

details {
    summary {
        color: var.$color-primary-main;
        cursor: pointer;
        font-family: spartan-bold, sans-serif;
        font-size: 1rem;
        margin: 0;
        padding: 0;

        &:hover {
            color: var.$color-primary-dark;
        }

        &:active {
            color: var.$color-primary-light;
        }

        &:focus {
            @include mixins.focus-outline;

            border-radius: var.$border-radius;
        }
    }

    & > :nth-child(2) {
        margin: var.$spacing-5 0 0;
    }
}

h1,
h2,
h3 {
    font-family: spartan-bold, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

hr {
    border: none;
    border-top: var.$spacing-1 solid var.$color-grey-900;
    height: var.$spacing-1;
    margin: 0;
    padding: 0;
    width: 100%;
}

input {
    margin: 0;
    padding: 0;

    &[type='checkbox'] {
        // unchecked state
        appearance: none;
        background-color: white;
        border: 2px solid var.$color-grey-500;
        border-radius: var.$border-radius;
        cursor: pointer;
        display: inline-grid;
        font: inherit;
        height: 1rem;
        place-content: center;
        transition:
            background-color 0.1s var.$transition-timing-function,
            border 0.1s var.$transition-timing-function;
        width: 1rem;

        // checked state
        &::before {
            background-color: white;
            box-shadow: inset 1em 1em white;
            clip-path: polygon(12% 51.5%, 22.5% 42%, 40.5% 60%, 76.5% 24%, 86.5% 34%, 40.5% 80%);
            content: '';
            height: calc(1rem - 2px);
            transform: scale(0);
            width: calc(1rem - 2px);
        }

        // checked state
        &:checked {
            background-color: var.$color-primary-main;
            border: 2px solid var.$color-primary-main;

            &::before {
                transform: scale(1);
            }

            &:hover:enabled {
                background-color: var.$color-primary-dark;
                border: 2px solid var.$color-primary-dark;
            }

            &:active:enabled {
                background-color: var.$color-primary-light;
                border: 2px solid var.$color-primary-light;
            }
        }

        &:hover:enabled:not(:checked) {
            border: 2px solid var.$color-grey-600;
        }

        &:active:enabled:not(:checked) {
            border: 2px solid var.$color-grey-400;
        }

        &:focus-visible {
            @include mixins.focus-outline;
        }
    }

    &[type='number'],
    &[type='search'],
    &[type='text'] {
        @include mixins.transition(border);

        border: var.$spacing-1 solid var.$color-grey-500;
        border-radius: var.$border-radius;
        color: var.$color-grey-900;
        font-family: spartan-medium, sans-serif;
        font-size: 1rem;
        padding: var.$spacing-2;
        width: 100%;

        &::placeholder {
            color: var.$color-grey-600;
            font-family: spartan-medium, sans-serif;
        }

        &:hover {
            border: var.$spacing-1 solid var.$color-grey-600;
        }

        &:focus {
            @include mixins.focus-outline;
        }
    }

    &[type='number'] {
        width: 5.5rem;
    }
}

label {
    font-family: spartan-bold, sans-serif;
    font-size: 1rem;
}

p,
span {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
