@use './mixins.scss';

* {
    box-sizing: border-box;
}

// HTML =======================================================================
html {
    background-color: var(--color-grey-300);
    color: var(--color-grey-900);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 400;
    margin: 0;
    padding: 0;

    body {
        margin: 0;
        padding: var(--spacing-5) var(--spacing-5) calc(var(--navbar-height) + var(--spacing-5));
        text-align: center;

        // stylelint-disable-next-line selector-id-pattern
        #__next {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-5);
            width: 100%;
        }
    }
}

// ELEMENTS ===================================================================
a[href],
a:visited {
    align-items: center;
    color: var(--color-grey-900);
    display: inline-flex;
    gap: var(--spacing-1);

    &:hover {
        color: var(--color-grey-800);

        svg {
            fill: var(--color-grey-800);
        }
    }

    &:active {
        color: var(--color-grey-700);

        svg {
            fill: var(--color-grey-700);
        }
    }

    &:focus,
    &:focus-visible {
        @include mixins.focus-outline;
    }

    svg {
        height: 1rem;
        width: 1rem;
    }
}

details {
    summary {
        font-weight: 700;

        &:focus,
        &:focus-visible {
            @include mixins.focus-outline;
        }
    }
}

button,
input[type='submit'] {
    background-color: var(--color-grey-900);
    border: var(--border);
    color: white;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 700;
    padding: calc(var(--spacing-2) - 1px) var(--spacing-4) var(--spacing-2);
    transition:
        background-color var(--transition-duration) var(--transition-timing-function) var(--transition-delay),
        border var(--transition-duration) var(--transition-timing-function) var(--transition-delay);

    &:hover:enabled {
        background-color: var(--color-grey-800);
        border: var(--border-width) solid var(--color-grey-800);
    }

    &:active:enabled {
        background-color: var(--color-grey-700);
        border: var(--border-width) solid var(--color-grey-700);
    }

    &:focus,
    &:focus-visible {
        @include mixins.focus-outline;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: var(--opacity-disabled);
    }

    &.secondary {
        background-color: white;
        color: var(--color-grey-900);

        &:hover:not(:disabled) {
            background-color: white;
            border: var(--border-width) solid var(--color-grey-800);
            color: var(--color-grey-800);
        }

        &:active:not(:disabled) {
            background-color: white;
            border: var(--border-width) solid var(--color-grey-700);
            color: var(--color-grey-700);
        }
    }

    &.icon-only {
        background-color: transparent;
        border: none;
        display: inline-flex;
        fill: var(--color-grey-900);
        padding: 0;
        transition: fill var(--transition-duration) var(--transition-timing-function) var(--transition-delay),;

        &:hover:enabled {
            background-color: transparent;
            border: none;
            fill: var(--color-grey-800);
        }

        &:active:enabled {
            background-color: transparent;
            border: none;
            fill: var(--color-grey-700);
        }
    }
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

hr {
    border: calc(var(--border-width) / 2) solid var(--color-grey-900);
    height: var(--border-width);
    margin: 0;
}

input {
    &[type='search'],
    &[type='text'] {
        border: var(--border);
        border-radius: none;
        color: var(--color-grey-900);
        font-family: var(--font-family);
        font-size: 1rem;
        font-weight: 400;
        padding: var(--spacing-2) var(--spacing-4);

        &:focus,
        &:focus-visible {
            @include mixins.focus-outline;
        }

        &::placeholder {
            color: var(--color-grey-600);
        }
    }
}

label {
    background-color: white;
    border: var(--border);
    color: var(--color-grey-900);
    display: inline-block;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 700;
    padding: var(--spacing-1) var(--spacing-2);
}

p {
    margin: 0;
}

svg {
    fill: var(--color-grey-900);
}
