* {
    box-sizing: border-box;
}

html,
body {
    font-family: Spartan, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-weight: 400;
}

p.font-medium {
    font-weight: 500;
}

p.font-bold {
    font-weight: 600;
}
