@mixin card-layout {
    background-color: white;
    border: var(--border);
    box-shadow: -4px 4px 0 0 var(--color-grey-900);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
    margin: 0 auto;
    max-width: var(--card-max-width);
    padding: var(--spacing-5);
    text-align: left;
    width: 100%;
}

@mixin focus-outline {
    outline: var(--border-width) solid var(--color-info-light);
    outline-offset: calc(var(--border-width) * -1);
}

@mixin label {
    background-color: white;
    border: var(--border);
    color: var(--color-grey-900);
    display: inline-flex;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 700;
    padding: var(--spacing-1) var(--spacing-2) calc(var(--spacing-1) + 1px);
}

@mixin transition(
    $property: all,
    $duration: var(--transition-duration),
    $timing-function: var(--transition-timing-function),
    $delay: var(--transition-delay),
) {
    transition: $property $duration $timing-function $delay;
}
