@use './variables.scss' as var;

@mixin card-layout {
    background-color: white;
    border-radius: var.$border-radius;
    display: flex;
    flex-direction: column;
    gap: var.$spacing-5;
    margin: 0 auto;
    max-width: var.$card-max-width;
    padding: var.$spacing-5;
    text-align: left;
    width: 100%;
}

@mixin focus-outline {
    outline: var.$spacing-1 solid var.$color-info-main;
    outline-offset: 2px;
}

@mixin transition(
    $property: all,
    $duration: var.$transition-duration,
    $timing-function: var.$transition-timing-function,
    $delay: var.$transition-delay,
) {
    transition: $property $duration $timing-function $delay;
}
