// SPACING ====================================================================
$spacing-0: 0;
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;

// COLORS =====================================================================
// grey
$color-grey-50: #fafafa;
$color-grey-100: #f5f5f5;
$color-grey-200: #eee;
$color-grey-300: #e0e0e0;
$color-grey-400: #bdbdbd;
$color-grey-500: #949494; // AA contrast on white - UI
$color-grey-600: #767676; // AA contrast on white - Text
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-grey-900: #212121;

// primary (buttons)
$color-primary-main: #7e59b7;
$color-primary-light: #8663bb;
$color-primary-dark: #774fb2;
$color-primary-contrast-text: white;

// secondary (links)
$color-secondary-main: #505ab3;
$color-secondary-light: #5963b7;
$color-secondary-dark: #4a54ab;
$color-secondary-contrast-text: white;

// error
$color-error-main: #c7322c;
$color-error-light: #d3403a;
$color-error-dark: #b32d28;
$color-error-contrast-text: white;

// warning
$color-warning-main: #fd790d;
$color-warning-light: #fa7202;
$color-warning-dark: #ed6c02;
$color-warning-contrast-text: $color-grey-900;

// info (chips)
$color-info-main: #186cbb;
$color-info-light: #1b78d0;
$color-info-dark: #186cbb;
$color-info-contrast-text: white;

// success
$color-success-main: #417c42;
$color-success-light: #448345;
$color-success-dark: #3d763e;
$color-success-contrast-text: white;

// LAYOUT =====================================================================
$card-max-width: 400px;

// TRANSITION =================================================================
$transition-duration: 0.25s;
$transition-timing-function: ease;
$transition-delay: 0s;

// MISC =======================================================================
$border-radius: $spacing-1;
$border-radius-chip: 2rem;
$opacity-disabled: 0.5;
